= form_for @worker_street do |f|
  - if @worker_street.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker_street.errors.count, "error")} prohibited this worker_street from being saved:"
      %ul
        - @worker_street.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :worker_id, '美容师'
    = f.collection_select :worker_id, Worker.all, :id, :name, {:selected=>(@worker_street.worker_id)}
  .field
    = f.label :street_id, '服务街道'
    = f.collection_select :street_id, Street.all, :id, :name, {:selected=>(@worker_street.street_id)}
  .actions
    = f.submit 'Save'
