%h1 Listing worker_streets

%table
  %thead
    %tr
      %th Worker
      %th Street
      %th
      %th
      %th

  %tbody
    - @worker_streets.each do |worker_street|
      %tr
        %td= worker_street.worker.name
        %td= worker_street.street.name
        %td= link_to 'Show', worker_street
        %td= link_to 'Edit', edit_worker_street_path(worker_street)
        %td= link_to 'Destroy', worker_street, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Worker street', new_worker_street_path
