= form_for @pay_record do |f|
  - if @pay_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pay_record.errors.count, "error")} prohibited this pay_record from being saved:"
      %ul
        - @pay_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer
    = f.text_field :customer
  .field
    = f.label :product
    = f.text_field :product
  .field
    = f.label :shop
    = f.text_field :shop
  .field
    = f.label :pay_state
    = f.number_field :pay_state
  .field
    = f.label :pay_num
    = f.number_field :pay_num
  .field
    = f.label :pay_time
    = f.datetime_select :pay_time
  .field
    = f.label :total_count
    = f.number_field :total_count
  .field
    = f.label :left_count
    = f.number_field :left_count
  .actions
    = f.submit 'Save'
