= form_for @waitress do |f|
  - if @waitress.errors.any?
    #error_explanation
      %h2= "#{pluralize(@waitress.errors.count, "error")} prohibited this waitress from being saved:"
      %ul
        - @waitress.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
