= form_for @shop do |f|
  - if @shop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shop.errors.count, "error")} prohibited this shop from being saved:"
      %ul
        - @shop.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :uuid
    = f.text_field :uuid
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :sex
    = f.number_field :sex
  .field
    = f.label :tel
    = f.text_field :tel
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :creid
    = f.text_field :creid
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :login_name
    = f.text_field :login_name
  .field
    = f.label :login_pass
    = f.text_field :login_pass
  .field
    = f.label :subshop_count
    = f.number_field :subshop_count
  .field
    = f.label :level
    = f.number_field :level
  .actions
    = f.submit 'Save'
