%h1 Listing product_details

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Product
      %th
      %th
      %th

  %tbody
    - @product_details.each do |product_detail|
      %tr
        %td= product_detail.name
        %td= product_detail.description
        %td= product_detail.product.name
        %td= link_to 'Show', product_detail
        %td= link_to 'Edit', edit_product_detail_path(product_detail)
        %td= link_to 'Destroy', product_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product detail', new_product_detail_path
