= form_for @coupon do |f|
  - if @coupon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coupon.errors.count, "error")} prohibited this coupon from being saved:"
      %ul
        - @coupon.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_id, '所属用户'
    = f.collection_select :customer_id, Customer.all, :id, :mobile, {:selected=>(@coupon.customer_id)}
  .field
    = f.label :order_id, '所属订单'
    = f.collection_select :order_id, Order.all, :id, :id, {:prompt=>'', :selected=>(@coupon.order_id)}
  .field
    = f.label :product_id, '适用产品'
    = f.collection_select :product_id, Product.all, :id, :name, {:prompt=>'', :selected=>(@coupon.product_id)}
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
