%h1 Listing coupons

%table
  %thead
    %tr
      %th Customer
      %th Price
      %th End time
      %th Product
      %th Status
      %th Order
      %th
      %th
      %th

  %tbody
    - @coupons.each do |coupon|
      %tr
        %td= coupon.customer.name if coupon.customer
        %td= coupon.price
        %td= coupon.end_time
        %td= coupon.product.name if coupon.product
        %td= coupon.status
        %td= coupon.order.id if coupon.order
        %td= link_to 'Show', coupon
        %td= link_to 'Edit', edit_coupon_path(coupon)
        %td= link_to 'Destroy', coupon, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Coupon', new_coupon_path
