%h1 Listing tokens

%table
  %thead
    %tr
      %th Token
      %th Customer
      %th Worker
      %th
      %th
      %th

  %tbody
    - @tokens.each do |token|
      %tr
        %td= token.token
        %td= token.customer
        %td= token.worker
        %td= link_to 'Show', token
        %td= link_to 'Edit', edit_token_path(token)
        %td= link_to 'Destroy', token, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Token', new_token_path
