= form_for @advertisement do |f|
  - if @advertisement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@advertisement.errors.count, "error")} prohibited this advertisement from being saved:"
      %ul
        - @advertisement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :address
    = f.text_field :address
  .actions
    = f.submit 'Save'
