= form_for @customer do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :mobile
    = f.text_field :mobile
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :gender
    = f.number_field :gender
  .field
    = f.label :nick_name
    = f.text_field :nick_name
  .field
    = f.label :password
    = f.text_field :password
  .actions
    = f.submit 'Save'
