%h1 Listing customers

%table
  %thead
    %tr
      %th ID
      %th Name
      %th Mobile
      %th Address
      %th Description
      %th Gender
      %th Nick name
      %th Password
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.id
        %td= customer.name
        %td= customer.mobile
        %td= customer.address
        %td= customer.description
        %td= customer.gender
        %td= customer.nick_name
        %td= customer.password
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
