%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Mobile:
  = @customer.mobile
%p
  %b Gender:
  = @customer.gender

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
