%h1 Listing orders

%table
  %thead
    %tr
      %th Name
      %th Mobile
      %th Other name
      %th Other mobile
      %th Street
      %th Address
      %th Postscript
      %th Order time
      %th Status
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.mobile
        %td= order.other_name
        %td= order.other_mobile
        %td= order.street
        %td= order.address
        %td= order.postscript
        %td= order.order_time
        %td= order.status
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
