= form_for @street do |f|
  - if @street.errors.any?
    #error_explanation
      %h2= "#{pluralize(@street.errors.count, "error")} prohibited this street from being saved:"
      %ul
        - @street.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :area_id, '所属区域'
    = f.collection_select :area_id, Area.all, :id, :name, {:selected=>(@street.area_id)}
  .actions
    = f.submit 'Save'
