%h1 Listing streets

%table
  %thead
    %tr
      %th Name
      %th Area
      %th
      %th
      %th

  %tbody
    - @streets.each do |street|
      %tr
        %td= street.name
        %td= street.area
        %td= link_to 'Show', street
        %td= link_to 'Edit', edit_street_path(street)
        %td= link_to 'Destroy', street, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Street', new_street_path
