%h1 Listing areas

%table
  %thead
    %tr
      %th Name
      %th City
      %th
      %th
      %th

  %tbody
    - @areas.each do |area|
      %tr
        %td= area.name
        %td= area.city
        %td= link_to 'Show', area
        %td= link_to 'Edit', edit_area_path(area)
        %td= link_to 'Destroy', area, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Area', new_area_path
