= form_for @beautician do |f|
  - if @beautician.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beautician.errors.count, "error")} prohibited this beautician from being saved:"
      %ul
        - @beautician.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :mobile
    = f.text_field :mobile
  .field
    = f.label :id_card
    = f.text_field :id_card
  .actions
    = f.submit 'Save'
