%h1 Listing beauticians

%table
  %thead
    %tr
      %th Name
      %th Mobile
      %th Id_card
      %th
      %th
      %th

  %tbody
    - @beauticians.each do |beautician|
      %tr
        %td= beautician.name
        %td= beautician.mobile
        %td= beautician.id
        %td= link_to 'Show', beautician
        %td= link_to 'Edit', edit_beautician_path(beautician)
        %td= link_to 'Destroy', beautician, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Beautician', new_beautician_path