%p#notice= notice

%p
  %b Name:
  = @beautician.name
%p
  %b Mobile:
  = @beautician.mobile
%p
  %b Id:
  = @beautician.id

= link_to 'Edit', edit_beautician_path(@beautician)
\|
= link_to 'Back', beauticians_path
