= form_for @worker do |f|
  - if @worker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker.errors.count, "error")} prohibited this worker from being saved:"
      %ul
        - @worker.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :mobile
    = f.text_field :mobile
  .field
    = f.label :avatar
    = f.text_field :avatar
  .field
    = f.label :pic
    = f.text_field :pic
  .field
    = f.label :star
    = f.text_field :star
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :gender
    = f.number_field :gender
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :skills
    = f.text_field :skills
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :success
    = f.number_field :success
  .field
    = f.label :cancel
    = f.number_field :cancel
  .field
    = f.label :miss
    = f.number_field :miss
  .field.check_street
    = f.label '服务区域'
    - all_streets = Street.all
    - all_streets.each do |street|
      =check_box_tag 'check_street', street.id, @worker.has_street(street)
      =street.name
  .field
    = f.label :choose_streets
    %input.choose_streets{:name=>'choose_streets'}
  .actions
    = f.submit 'Save'
