%h1 Listing workers

%table
  %thead
    %tr
      %th Name
      %th Mobile
      %th Avatar
      %th Star
      %th Gender
      %th Description
      %th Skills
      %th
      %th
      %th

  %tbody
    - @workers.each do |worker|
      %tr
        %td= worker.name
        %td= worker.mobile
        %td= worker.avatar
        %td= worker.star
        %td= worker.gender
        %td= worker.description
        %td= worker.skills
        %td= link_to 'Show', worker
        %td= link_to 'Edit', edit_worker_path(worker)
        %td= link_to 'Destroy', worker, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Worker', new_worker_path
