%p#notice= notice

%p
  %b Name:
  = @worker.name
%p
  %b Mobile:
  = @worker.mobile
%p
  %b Avatar:
  = @worker.avatar
%p
  %b Pic:
  = @worker.pic
%p
  %b Star:
  = @worker.star
%p
  %b Gender:
  = @worker.gender
%p
  %b Description:
  = @worker.description
%p
  %b Skills:
  = @worker.skills

= link_to 'Edit', edit_worker_path(@worker)
\|
= link_to 'Back', workers_path
