%h1 Listing birds

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @birds.each do |bird|
      %tr
        %td= bird.name
        %td= link_to 'Show', bird
        %td= link_to 'Edit', edit_bird_path(bird)
        %td= link_to 'Destroy', bird, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bird', new_bird_path
