%h1 Listing grabs

%table
  %thead
    %tr
      %th Name
      %th Worker_ID
      %th Appointment
      %th Status
      %th
      %th
      %th

  %tbody
    - @grabs.each do |grab|
      %tr
        %td= grab.worker.name
        %td= grab.worker.id
        %td= grab.appointment.id
        %td= grab.status
        %td= link_to 'Show', grab
        %td= link_to 'Edit', edit_grab_path(grab)
        %td= link_to 'Destroy', grab, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Grab', new_grab_path
