%p#notice= notice

%p
  %b Worker:
  = @grab.worker
%p
  %b Appointment:
  = @grab.appointment
%p
  %b Status:
  = @grab.status

= link_to 'Edit', edit_grab_path(@grab)
\|
= link_to 'Back', grabs_path
