%p#notice= notice

%p
  %b Status:
  = @appointment.status
%p
  %b Date:
  = @appointment.date
%p
  %b Start time:
  = @appointment.start_time
%p
  %b End time:
  = @appointment.end_time
%p
  %b Address:
  = @appointment.address
%p
  %b Product:
  = @appointment.product.name
%p
  %b Service:
  = @appointment.service.name
%p
  %b Customer:
  = @appointment.customer.mobile

= link_to 'Edit', edit_appointment_path(@appointment)
\|
= link_to 'Back', appointments_path
