%p#notice= notice
%p
  %b 分类:
  = @product.product_type.name
%p
  %b 产品名称:
  = @product.name
%p
  %b 产品图片:
  = @product.pic
%p
  %b 原价:
  = @product.original_price
%p
  %b 现价:
  = @product.current_price
%p
  %b 适用:
  = raw @product.applicable
%p
  %b 效果:
  = raw @product.effect

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
