%head
  = render :partial => 'layouts/meta_data'
  -#%link{:href => "http://7xawpp.com1.z0.glb.clouddn.com/196.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  -#%link{:href => "http://7xawpp.com1.z0.glb.clouddn.com/196.png", :rel => "apple-touch-icon-precomposed"}/
  / <link rel="stylesheet" type="text/css" href="http://static.emeidaojia.com/static/style_520.css">
  / <script data-main="http://static.emeidaojia.com/static/main_520" src="http://static.emeidaojia.com/static/require_520.js"></script>
  = stylesheet_link_tag  "application"
  = stylesheet_link_tag  "#{controller.controller_name}"
  /[if lt IE 9 ]
    = stylesheet_link_tag  "style-ie9"
  %title 管理